<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sparkle.mapper.FundMapper">

    <insert id="insertPosition">
        INSERT INTO position(id, userId, fundCode, fundName, rate, money, serviceCharge, position, worth, portion,
                             STATUS)
        VALUES (#{id}, #{userId}, #{fundCode}, #{fundName}, #{rate}, #{money}, #{serviceCharge}, #{position}, #{worth},
                #{portion}, '买入')
    </insert>

    <update id="updatePosition" parameterType="map">
        UPDATE
            position( id, userId, fundCode, fundName, rate, money, serviceCharge, position, worth, portion, STATUS )
        VALUES
            (
            #{id}, #{userId}, #{fundCode}, #{fundName}, #{rate}, #{money}, #{serviceCharge}, #{position}, #{worth}, #{portion}, '买入'
            )
    </update>

    <select id="getPosition" parameterType="map">
        SELECT
        id,
        userId,
        fundCode,
        fundName,
        rate,
        money,
        serviceCharge,
        position,
        worth,
        portion,
        STATUS
        FROM
        position
        WHERE
        STATUS != '删除'
        AND
        userId = #{userId}
        AND
        fundCode = #{fundCode}
        <if test="status != null">
            AND STATUS = #{status}
        </if>
        ORDER BY
        createTime
    </select>

</mapper>