<!DOCTYPE html>
<html>
    <head>
        <title>首页</title>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <link rel="stylesheet" href="layui/css/layui.css">
        <script src="layui/layui.js"></script>
        <link href="css/index.css" rel="stylesheet" type="text/css">
        <script src="js/index.js"></script>
    </head>
    <body>
        <header>
            <ul id="layui-nav" class="layui-nav" lay-filter="">
                <li id="nav-title" class="layui-nav-item">
                    <p id="title">Phoenix</p>
                </li>
                <li class="layui-nav-item">
                    <a href="">照片墙</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">博客</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">大数据</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">社区</a>
                </li>
            </ul>
        </header>
        <article>
            <div>

            </div>
        </article>
        <footer>

        </footer>
    </body>
</html>