<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="max-age=7200"/>
    <meta charset="UTF-8"/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="static/jquery-easyui-1.9.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="static/jquery-easyui-1.9.0/themes/icon.css">
    <script type="text/javascript" src="static/jquery-easyui-1.9.0/jquery.easyui.min.js"></script>

    <link href="static/css/common.css" rel="stylesheet" type="text/css">
    <script src="static/js/common.js"></script>

    <title>首页</title>
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <script src="static/js/index.js"></script>
</head>
<body>
<header id="header"></header>
<article>
    <div id="searchbar">
        <form>
            <input id="search" type="text">
            <input id="submit" type="submit">
        </form>
    </div>
    <div id="websitenavigate">
        <h2 id="common">常用网站</h2>
        </br>
        <ul>
            <li class="website"><p class='type'>搜索</p></li>
            <li class="website"><a href="https://www.baidu.com/">百度</a></li>
            <li class="website"><a href="https://cn.bing.com/?FORM=BEHPTB">微软Bing</a></li>
        </ul>
        </br></br>
        <ul>
            <li class="website"><p class='type'>社区</p></li>
            <li class="website"><a href="https://www.zhihu.com/">知乎</a></li>
            <li class="website"><a href="http://tieba.baidu.com/">贴吧</a></li>
            <li class="website"><a href="https://weibo.com/">微博</a></li>
        </ul>
        </br></br>
        <ul>
            <li class="website"><p class='type'>博客</p></li>
            <li class="website"><a href="https://www.csdn.net/">CSDN</a></li>
            <li class="website"><a href="https://juejin.im/timeline/backend/%E5%85%A8%E9%83%A8">掘金</a></li>
            <li class="website"><a href="https://github.com/Clair-de-lune">GitHub</a></li>
            <li class="website"><a href="https://dashboard.ngrok.com/get-started">Ngrok</a></li>
        </ul>
        </br></br>
        <ul>
            <li class="website"><p class='type'>地图</p></li>
            <li class="website"><a href="http://map.baidu.com/">百度地图</a></li>
            <li class="website"><a href="https://map.51240.com/">卫星地图</a></li>
        </ul>
        </br></br>
        <ul>
            <li class="website"><p class='type'>视频</p></li>
            <li class="website"><a href="https://movie.douban.com/">豆瓣</a></li>
            <li class="website"><a href="https://www.bilibili.com/">Bilibili</a></li>
            <li class="website"><a href="https://www.dytt8.net/">电影天堂</a></li>
            <li class="website"><a href="https://www.22tu.cc/">迅播</a></li>
        </ul>
        </br></br>
        <ul>
            <li class="website"><p class='type'>照片</p></li>
            <li class="website"><a href="https://blog.csdn.net/weixin_44563573/article/details/103200510#4_18">图片素材</a>
            </li>
        </ul>

    </div>

</article>
<footer id="footer"></footer>
</body>
</html>