<!DOCTYPE html>
<html>  
<head>
<title>Index</title>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
    <input type="button" value="Get" onclick="get()">
    <input type="button" value="logout" onclick="logout()">
    <input type="button" value="getVisitNum" onclick="getVisitNum()">
    <div>
    	<span id="visitNum"></span><span>热度</span>
    </div>
</body>
<script type="text/javascript">
	/* $(document).ready(function(){
		$.ajax({
	        url: "/getVisitNum",
	        dataType: "json",   
	        type:"GET",
	        beforeSend: function(request) {
	            //将cookie中的token信息放于请求头中
	            request.setRequestHeader("authStr", $.cookie('authStr'));
	        },
	        success:function(responseBean){
	            $(visitNum).html(responseBean.data);
	        }
	    });
	}); */
</script>
<script type="text/javascript">

function get(){
    $.ajax({
        url: "/token/user/13407547940",
        dataType: "json",   
        type:"GET",
        beforeSend: function(request) {
            //将cookie中的token信息放于请求头中
            request.setRequestHeader("authStr", $.cookie('authStr'));
        },
        success:function(res){
            console.log(res);
        }
    });
    
    $.ajax({
    	url: "/getVisitNum?url=index",
        dataType: "json",   
        type:"GET",
        beforeSend: function(request) {
            //将cookie中的token信息放于请求头中
            /* request.setRequestHeader("authStr", $.cookie('authStr')); */
        },
        success:function(responseBean){
        	console.log(responseBean);
            $(visitNum).html(responseBean.data);
        }
    });
}

function logout(){
    $.ajax({
        url: "/token",
        dataType: "json",   
        type:"DELETE",
        beforeSend: function(request) {
            //将cookie中的token信息放于请求头中
            request.setRequestHeader("authStr", $.cookie('authStr'));
        },
        success:function(res){
            console.log(res);
        }
    });
}

function getVisitNum(){
    $.ajax({
    	url: "/token/getVisitNum?url=index",
        dataType: "json",   
        type:"GET",
        xhrFields: {
        	withCredentials: true
        },
        beforeSend: function(request) {
            //将cookie中的token信息放于请求头中
            /* request.setRequestHeader("authStr", $.cookie('authStr')); */
        },
        success:function(responseBean){
        	console.log(responseBean);
            $(visitNum).html(responseBean.data);
        }
    });
}
</script>
</html>