<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BlogMapper">

	<select id="getUserByName" resultType="com.entity.User">
		SELECT 
			username,
			password,
			phone,
			email
		FROM
			user
		WHERE
			username = #{username}
	</select>
	
	<insert id="insertBlog">
		INSERT INTO 
			Blog (
				blogId,
				label,
				title,
				author,
				createTime,
				content
			)
		VALUES
			(
				REPLACE(UUID(),"-",""),
				#{label},
				#{title},
				#{author},
				#{createTime},
				#{content}
			)
	</insert>
	
	<select id="showBlog" resultType="java.lang.String">
		SELECT 
			content
		FROM
			blog
		WHERE
			blogId = #{blogId}
	</select>
	
 </mapper>