<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sparkle.mapper.UserMapper" >
	<select id="getBalance" resultType="map">
	  	SELECT 
	  		balance,updatetime
	  	FROM
	  		t_account
	  	WHERE
	  		accountId=(SELECT accountId FROM t_user WHERE phone=#{phone})
	 </select>
	 
	<update id="updateAccount">
	  	UPDATE 
	  		t_account
	  	SET
	  		balance = #{balance}
	  	WHERE
	  		accountId=(SELECT accountId FROM t_user WHERE phone=#{phone})
	  	AND
	  		updatetime = #{updatetime}
	 </update>
</mapper>
