body{
    margin: 0px;
    background-color:#F6F6F6;
    font-family: -apple-system, BlinkMacSystemFont, Microsoft YaHei, serif;
    /*border-bottom: 0.5px solid #666666;*/
}
header{
    position:absolute;
    top:0px;
    width:100%;
    height:60px;
    background-color: #FFFFFF;
}
#nav-title{
    margin-left:10%;
    margin-right: 50px;
}
#title{
    font-size: 30px;
    color:orangered;
    font-family: consolas, serif;
    position: relative;
    top: 0px;
    display: inline-block;
    height:30px;
    list-style: none;
    float: left;
    margin-right: 30px;
    text-decoration:none;
}
#nav{
    height:60px;
    list-style: none;
    width:100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 999;
}
.nav-item{
    font-size: 14px;
    list-style: none;
    display: inline-block;
    float: left;
    margin-left: 30px;
    position: relative;
    top: 0px;
    padding: 5px;
}
.nav-item:hover{
    font-weight: bold;
    border-bottom: 2px solid orangered;
}

.nav .nav-item a{
    text-decoration:none;
    color:#444444;
}
/*
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    !*background-color: black;*!
}*/
